.h-faq-section__title[data-v-82a306fd] {
    margin-bottom: 32px
}

.h-faq-section__description[data-v-82a306fd] {
    margin-bottom: 48px
}

.h-faq-section__description[data-v-82a306fd],.h-faq-section__title[data-v-82a306fd] {
    text-align: center
}

.h-faq-section--dark[data-v-82a306fd] {
    color: #fff
}
