.h-discount-tag[data-v-cba67550] {
  border-radius: 20px;
  display: inline-block;
  padding: 4px 12px;
}
.h-discount-tag-text-gray-light[data-v-cba67550] {
  color: #f2f3f6;
}
.h-discount-tag-bg-gray-light[data-v-cba67550] {
  background-color: #f2f3f6;
}
.h-discount-tag-text-primary-light[data-v-cba67550] {
  color: #ebe4ff;
}
.h-discount-tag-bg-primary-light[data-v-cba67550] {
  background-color: #ebe4ff;
}
.h-discount-tag-text-meteorite-light[data-v-cba67550] {
  color: #d5dfff;
}
.h-discount-tag-bg-meteorite-light[data-v-cba67550] {
  background-color: #d5dfff;
}
.h-discount-tag-text-danger-light[data-v-cba67550] {
  color: #ffe8ef;
}
.h-discount-tag-bg-danger-light[data-v-cba67550] {
  background-color: #ffe8ef;
}
.h-discount-tag-text-success-light[data-v-cba67550] {
  color: #def4f0;
}
.h-discount-tag-bg-success-light[data-v-cba67550] {
  background-color: #def4f0;
}
.h-discount-tag-text-warning-light[data-v-cba67550] {
  color: #fff8e2;
}
.h-discount-tag-bg-warning-light[data-v-cba67550] {
  background-color: #fff8e2;
}
.h-discount-tag-text-manatee[data-v-cba67550] {
  color: #8c93a9;
}
.h-discount-tag-bg-manatee[data-v-cba67550] {
  background-color: #8c93a9;
}
.h-discount-tag-text-spindle[data-v-cba67550] {
  color: #b6bdd3;
}
.h-discount-tag-bg-spindle[data-v-cba67550] {
  background-color: #b6bdd3;
}
.h-discount-tag-text-periwinkle[data-v-cba67550] {
  color: #c5cde9;
}
.h-discount-tag-bg-periwinkle[data-v-cba67550] {
  background-color: #c5cde9;
}
.h-discount-tag-text-ghost-white[data-v-cba67550] {
  color: #fafbff;
}
.h-discount-tag-bg-ghost-white[data-v-cba67550] {
  background-color: #fafbff;
}
.h-discount-tag-text-webhost-primary[data-v-cba67550] {
  color: #ff5c62;
}
.h-discount-tag-bg-webhost-primary[data-v-cba67550] {
  background-color: #ff5c62;
}
.h-discount-tag-text-gray-border[data-v-cba67550] {
  color: #dadce0;
}
.h-discount-tag-bg-gray-border[data-v-cba67550] {
  background-color: #dadce0;
}
.h-discount-tag-text-white-blue[data-v-cba67550] {
  color: #f4f5ff;
}
.h-discount-tag-bg-white-blue[data-v-cba67550] {
  background-color: #f4f5ff;
}
.h-discount-tag-text-gray-dark[data-v-cba67550] {
  color: #36344d;
}
.h-discount-tag-bg-gray-dark[data-v-cba67550] {
  background-color: #36344d;
}
.h-discount-tag-text-black-friday-dark[data-v-cba67550] {
  color: #21202a;
}
.h-discount-tag-bg-black-friday-dark[data-v-cba67550] {
  background-color: #21202a;
}
.h-discount-tag-text-primary-dark[data-v-cba67550] {
  color: #5025d1;
}
.h-discount-tag-bg-primary-dark[data-v-cba67550] {
  background-color: #5025d1;
}
.h-discount-tag-text-meteorite-dark[data-v-cba67550] {
  color: #2f1c6a;
}
.h-discount-tag-bg-meteorite-dark[data-v-cba67550] {
  background-color: #2f1c6a;
}
.h-discount-tag-text-danger-dark[data-v-cba67550] {
  color: #d63163;
}
.h-discount-tag-bg-danger-dark[data-v-cba67550] {
  background-color: #d63163;
}
.h-discount-tag-text-success-dark[data-v-cba67550] {
  color: #008361;
}
.h-discount-tag-bg-success-dark[data-v-cba67550] {
  background-color: #008361;
}
.h-discount-tag-text-warning-dark[data-v-cba67550] {
  color: #fea419;
}
.h-discount-tag-bg-warning-dark[data-v-cba67550] {
  background-color: #fea419;
}
.h-discount-tag-text-neon-dark[data-v-cba67550] {
  color: #a7fc01;
}
.h-discount-tag-bg-neon-dark[data-v-cba67550] {
  background-color: #a7fc01;
}
.h-discount-tag-text-peridot-dark[data-v-cba67550] {
  color: #20e052;
}
.h-discount-tag-bg-peridot-dark[data-v-cba67550] {
  background-color: #20e052;
}
