// Colors

$mk_color_appsmenu_text: #3a4354;
$mk_color_appbar_text: #3a4354;
$mk_color_appbar_active: #f8f9fa;
$mk_color_appbar_background: #e0deed;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;